<h1> Transaction </h1>


<table border="1">
  <tr>
    <td>amount</td>
    <td>transaction_type</td>
    <td>transaction_number</td>
  </tr>
  <%@transaction.each do |i| %>
    <tr>
        <td><%= i.amount%></td>
        <td><%= i.transaction_type%></td>
        <td><%= i.transaction_number%></td>
    </tr>
  <%end %>
</table>

<%= link_to 'Back', pages_home_path %>
